<div class="flex flex-col px-[10px] divide-y-[1px] divide-[#EFEDEB] divide-solid">
  <section class="py-[48px] flex flex-col gap-[24px]">
    <h1 class="decor-underline">About Me</h1>
    <p class="whitespace-pre-wrap p-normal">
      <%# Add your about page content here %>
    </p>
    <%= render 'shared/social_links', show_heading: true %>
  </section>
</div>
