<!-- filepath: /c:/Users/Karol/Documents/GitHub/rails-personal-blog/app/views/blog/show.html.erb -->
<div class="flex flex-col px-[10px]">
  <article class="pt-[48px] pb-[24px] flex flex-col gap-[16px]">
    <header class="flex flex-col gap-[8px]">
      <h1 class="[transition:color_300ms]"><%= @article['title'] %></h1>
      <p class="p-italic [transition:color_300ms]"><%= @article['publishedAt'].to_date.strftime('%B %-d, %Y') %></p>
    </header>
    <div class="article-content flex flex-col gap-[16px]">
      <%= markdown(@article['content']) %>
    </div>
    <a href="/blog" class="decor-underline-3 my-[24px] w-fit cursor-pointer hover:text-[rgba(52,48,45,0.7)] dark:text-[#FEFEFE] hover:dark:text-[rgba(254,254,254,0.7)] text-[rgba(52,48,45,1)] text-[18px] font-[500] [transition:color_300ms] leading-[150%] tracking-[-0.5px]">&larr; Back to all articles</a>
  </article>
</div>