<main class="flex max-w-[calc(640px-18px)] [width:calc(100%-18px)] flex-col h-full min-h-[200px] [border-inline:1px_solid_#EFEDEB] flex-1">
  <div class="flex flex-col px-[10px]">
    <section class="pt-[48px] pb-[24px] flex flex-col gap-[24px]">
      <h1 class="decor-underline w-fit">About Me</h1>
      <div class="flex flex-col gap-[16px]">
        <p class="p-normal">
          I'm a front-end developer in training, passionate about creating beautiful and functional web experiences. With a background in design and a growing expertise in web development, I bring a unique perspective to every project I tackle.
        </p>
        <p class="p-normal">
          When I'm not coding, you can find me exploring new hiking trails, attempting to master the art of rock climbing, or curled up with a good book about tech and design.
        </p>
      </div>
    </section>
  </div>
</main>
